.content-container{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.content-navbar{
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
}
.btn-navbar svg{
    fill: var(--color-icon);
}
.btn-navbar {
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-navbar:hover{
    background-color: rgb(26, 26, 26) !important;
}
.content-view{
    display: grid;
    grid-template-rows: 60px auto;
}
.title-content-view{
    color: white;
    font-size: 19px;
    font-weight: 600;
}
